<div class="home">
  <h1>Fullstack API TESTE</h1>
  <p>Esta é uma aplicação web construída com Angular e Spring Boot, permitindo que você gerencie contas de usuários em um sistema.</p>
  <ul>
    <li><a routerLink="/create">Criar Usuário</a> - Adicione novo usuário.</li>
    <li><a routerLink="/list">Listar Usuários</a> - Listar todos os usuários.</li>
    <li><a routerLink="/list">Editar Usuário</a> (Acessível a partir da Lista de Usuários) - Modificar um usuário.</li>
    <li><a routerLink="/list">Deletar Usuário</a> (Acessível a partir da Lista de Usuários) - Deletar um usuário.</li>
  </ul>
  <p>Para visualizar os endpoints da API, consulte a documentação do Swagger: <a href="http://localhost:8080/swagger-ui/index.html#/" target="_blank" rel="noreferrer">Swagger API Docs</a></p>
</div>
