.card {
  padding: 20px;
  font-size: medium;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 4px 4px black;
  border-radius: 20px;
}

.card-id {
  display: flex;
  justify-content: space-between;
}

.card-button button {
  margin-left: 10px;
}
